/* Custom Navbar Styles */
.navbar-container {
    background-color: rgb(52, 9, 243); /* Light background color */
  }
  
  .navbar-brand {
    color: rgb(252, 252, 252) !important; /* White text color */
    padding: 0.5rem 1rem; /* Padding for better appearance */
    border-radius: 5px; /* Rounded corners */
  }
  
  .navbar-links {
    color: white !important; /* White text color */
    margin-right: 1rem; /* Space between links */
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .navbar-links:hover {
    color: #ffc107 !important; /* Change to yellow on hover */
  }
  
  .dropdown {
    color:#cf2525 !important; 
    font-size: 20px;
    color: aqua;
    background-color: rgb(255, 255, 255) !important;
    
  }



  
  .dropdown-item {
    color: rgb(255, 15, 15) !important; /* White text color for dropdown items */
  }
  
  .navbar-dropdown .dropdown-item:hover {
    background-color: #ffc107 !important; /* Yellow background on hover */
    color: black !important; /* Black text color on hover */
  }